asttokens
bcrypt
beautifulsoup4
Brotli
certifi
cffi
charset-normalizer
colorama
comm
cryptography
debugpy
decorator
dotenv
elementpath
et_xmlfile
executing
greenlet
idna
inflate64
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
multivolumefile
nest-asyncio
numpy
openpyxl
oracledb
packaging
pandas
paramiko
parso
pathlib
platformdirs
prompt_toolkit
psutil
pure_eval
py7zr
pybcj
pycparser
pycryptodomex
pyfiglet
Pygments
PyNaCl
pyperclip
pyppmd
pysftp
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
pyzstd
requests
scipy
six
soupsieve
SQLAlchemy
stack-data
termcolor
texttable
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
XlsxWriter
xmlschema
